/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.recipe-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    background-color: #31343B;
    color: #ffffff;
}

/* CONTENITORE PUNTEGGGIO */
.container-score {
    background-color: #ffffff;
    color: #31343B;
    height: 70px;
    width: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

/* COLORE DEL PUNTEGGIO A PARTIRE DA 1 */
.color-green {
    color: rgb(64, 235, 64);
}

/* RECIPIENTE MAIN */
.recipe-cell {
    height: calc(100vh - 80px);
    background-color: black;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* RECIPIENTE QUADRATI */
.recipe-squares {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

/* COLORE SFONDO */
.color-back {
    background-color: #31343B;
}

/* QUADRATINI DIFILCOTA' DIFFICILE */
.cell-difficult {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid #000000;
}

/* QUADRATINI DIFILCOTA' DIFFICILE */
.cell-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid #000000;
}

/* QUADRATINI DIFILCOTA' DIFFICILE */
.cell-easy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid #000000;
}

/* SELECT */
#recipe-select {
    width: 150px;
    padding: 2px 0px;
}

/* BOTTONE */
.recipe-button {
    padding: 2px 0px;
    width: 100px;
}

/* CLICK SULLA CASELLA */
.color-cell-green {
    background-color: #adff2f;
    cursor: not-allowed;
}

.color-cell-red {
    background-color: #ff0000;
}
